<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.affairs.course.mapper.CourseMapper">

    <select id="getCoursesPageByTeaId" resultType="com.affairs.course.entity.Course">
        SELECT * FROM cou_course WHERE cou_builder=#{couBuilder}
    </select>
    <select id="selectCoursePageByTimeAndCount" resultType="com.affairs.course.entity.Course">
        SELECT * FROM cou_course WHERE cou_time &lt;= #{now} AND cou_count > 0
    </select>
</mapper>